.login {
  width: 100vw;
  height: 100vh;
  background-color: #282828;
  .form-wrap {
    width: 300px;
    margin: auto ;
    padding-top: 5%;
    color: #fff;
    label {
      display: block;
      font-size: 14px;
      color: #fff;
    }
  }
}