@import "normalize";
@import "antD";
.white {
  color: #ffffff;
}
.fs-12 {
  font-size: 12px;
}
.center {
  text-align: center;
}

.pull-left { float: left };
.pull-right { float: right };

@mixin webkit($type, $value) {
  -webkit-#{$type}: #{$value};
  -moz-#{$type}: #{$value};
  -p-#{$type}: #{$value};
  -ms-#{$type}: #{$value};
  #{$type}: #{$value};
}

@mixin common($align, $width, $lineHeight) {
  label {

  }
}

